<header class="navbar navbar-light navbar-toggleable-md bd-navbar">

  <nav class="container w-100">


    <div class="d-flex justify-content-between hidden-lg-up">
      <a class="navbar-brand" href="/">
        RecoveryHub Logo here
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bd-main-nav" aria-controls="bd-main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bd-main-nav">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-item nav-link" href="/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Bootstrap');">Recovery Hub Logo here</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link " 
            [routerLink]="['/what-is-recovery-hub']"
            routerLinkActive="active" 
          >What Is RecoveryHub</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link " href="/examples/"
            [routerLink]="['/who-is-recovery-hub']"
            routerLinkActive="active" 
          >Who Is RecoveryHub</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="https://themes.getbootstrap.com"
            [routerLink]="['/how-to-recovery']"
            routerLinkActive="active" 
          >How To Recover</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-toggler-right">
                
        <li class="nav-item">
          <a class="nav-item nav-link" 
            [routerLink]="['/login']"
            routerLinkActive="active" 
          >Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" 
            [routerLink]="['/register']"
            routerLinkActive="active" 
          >Sign Up</a>
        </li>
      </ul>
    </div>
  </nav>
</header>