<section class="sample-app-content">
    <h1>Login</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        
        <div *ngIf="loginFailed">
          <alert type="danger">
              <strong>Login failed.</strong> You may have entered invalid email or password.
          </alert>
        </div>

        <div *ngIf="authenticating">
            <alert type="warning">
                <strong>Please wait.</strong> We are verifying your credentials.
            </alert>
          </div>

        <p>
            <label>Email:</label>
            <input type="text" formControlName="email">
        </p>
        <p>
            <label>Password:</label>
            <input type="password" formControlName="password">
        </p>
        <p>
            <button type="submit" [disabled]="!form.valid">Submit</button>
        </p>
    </form>
</section>