<section class="sample-app-content">
  <h1>Register</h1>
    <div *ngIf="showStep1">
      <h3>Step 1:</h3>
      <form [formGroup]="formStep1" (ngSubmit)="validateStep1()">
          
          <div *ngIf="loginFailed">
            <alert type="danger">
                <strong>Login failed.</strong> You may have entered invalid email or password.
            </alert>
          </div>

          <div *ngIf="authenticating">
              <alert type="warning">
                  <strong>Please wait.</strong> We are verifying your credentials.
              </alert>
            </div>

          <div class="form-group"  
              [class.has-danger]="formStep1.get('email').touched 
                                  && formStep1.get('email').dirty 
                                  && emailErrors.hasErrors" 
              ngxErrors="email" 
              #emailErrors="ngxErrors"
          >
              <!-- <div [innerHTML]="formStep1.controls['email'].errors | json"></div> -->
              <label class="form-control-label">Email</label>
                <div class="text-danger small">
                  <div ngxError="email" when="['dirty', 'touched']">
                    Email is invalid
                  </div>
                  <div ngxError="required" when="['dirty', 'touched']">
                    Email is required
                  </div>
                </div>
              <input type="text" class="form-control" formControlName="email">
          </div>

          <div class="form-group"
              [class.has-danger]="formStep1.get('password').touched 
              && formStep1.get('password').dirty 
              && passwordErrors.hasErrors" 
              ngxErrors="password" 
              #passwordErrors="ngxErrors"
          >
              <label class="form-control-label">Password</label>
              <div class="text-danger small">
                <div ngxError="required" when="['dirty', 'touched']">
                  Password is required
                </div>
              </div>
              <input type="password" class="form-control" formControlName="password">
          </div>

          <div class="form-group">
              <label class="form-control-label">Confirm Password</label>
              <input type="password" class="form-control" formControlName="confirm_password">
          </div>

          <div class="form-group">
              <button type="submit" class="btn btn-primary" [disabled]="!formStep1.valid">Next</button>
          </div>
      </form>
    </div>

    <div *ngIf="showStep2">
      <h3>Step 2:</h3>
      <form [formGroup]="formStep2" (ngSubmit)="validateStep2()">
          
          <div *ngIf="loginFailed">
            <alert type="danger">
                <strong>Login failed.</strong> You may have entered invalid email or password.
            </alert>
          </div>

          <div *ngIf="authenticating">
            <alert type="warning">
                <strong>Please wait.</strong> We are verifying your credentials.
            </alert>
          </div>
          
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="form-control-label">First Name</label>
                <input type="text" class="form-control" formControlName="first_name">
              </div>
            </div>

            <div class="col">
              <div class="form-group">
                <label class="form-control-label">Middle Name</label>
                <input type="text" class="form-control" formControlName="middle_name">
              </div>
            </div>

            <div class="col">
              <div class="form-group">
                <label class="form-control-label">Last Name</label>
                <input type="text" class="form-control" formControlName="last_name">
              </div>
            </div>
          </div>

              <button type="submit" class="btn btn-primary" [disabled]="!formStep2.valid">Next</button>
            
      </form>
    </div>

    <div *ngIf="showStep3">
      <h3>Step 3:</h3>
      <form [formGroup]="formStep3" (ngSubmit)="validateStep3()">
          
        <div class="legal">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam semper libero auctor massa porttitor commodo. Pellentesque quis dignissim tortor. Phasellus vel finibus justo. Sed non viverra lectus. Nunc fringilla eget diam sed consequat. Vestibulum elit purus, congue in nulla sed, egestas sagittis massa. Vivamus tortor mi, aliquam vel mi vel, faucibus tincidunt nunc. Integer sit amet aliquam nulla, sit amet pulvinar ligula. Morbi at ultrices eros. Sed finibus erat vitae elit venenatis lobortis. Praesent lectus eros, tristique semper nisi vel, accumsan suscipit eros.</p>
            
            <p>Fusce ultrices eros dui, ac vestibulum arcu aliquet non. Curabitur nunc ligula, luctus consectetur diam sit amet, pretium consectetur est. Nulla facilisi. Praesent convallis, libero pulvinar vestibulum lobortis, enim mi venenatis ex, sit amet fermentum sem enim quis nibh. Suspendisse eleifend accumsan elit, convallis porta nisl lacinia et. Proin egestas, mi vel lobortis faucibus, augue erat viverra ante, vitae consequat arcu quam in velit. Etiam rutrum mi non eros tempus malesuada. Nulla dapibus lorem finibus arcu cursus, imperdiet vehicula risus dapibus. Aenean tincidunt mi sit amet nisi aliquet tempus.</p>
            
            <p>Maecenas aliquet arcu libero, mollis molestie ipsum consequat sit amet. Morbi erat massa, congue eu diam ut, condimentum varius ante. Duis dui ligula, ornare bibendum aliquet et, cursus at lacus. In gravida diam nec dolor iaculis sollicitudin. Phasellus felis est, dictum efficitur est nec, imperdiet vestibulum libero. Curabitur varius, nulla eu elementum sollicitudin, nulla dui pretium augue, eget congue nisl massa ut libero. Integer aliquam nulla eu iaculis euismod. Maecenas nec nisl varius, blandit orci ac, aliquam tortor. Etiam aliquet odio dolor, id pellentesque massa feugiat vitae.</p>
            
            <p>Aliquam interdum orci id arcu varius viverra maximus in ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam felis erat, mollis in imperdiet finibus, bibendum vel tortor. Aliquam pulvinar vestibulum euismod. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse vulputate finibus est finibus venenatis. Integer sollicitudin nulla velit, nec varius est egestas ac. Fusce non sem arcu. Ut cursus, est et dignissim volutpat, dolor tortor scelerisque neque, vel interdum nunc nisl vitae nisl. Praesent tincidunt ultricies mi eget ultricies. Cras congue quam lorem, vitae convallis turpis elementum quis. Suspendisse pellentesque ut metus et efficitur.</p>
            
            <p>Phasellus sit amet mauris accumsan, volutpat libero et, scelerisque ligula. Mauris nibh ex, pharetra gravida hendrerit in, molestie at est. Cras erat enim, tincidunt sed molestie nec, ultrices in est. Sed rutrum orci accumsan erat vulputate, id dignissim diam sollicitudin. Nulla in mi vehicula, imperdiet erat quis, tincidunt risus. Maecenas feugiat ex a massa tempus commodo. Nulla facilisi. Vivamus imperdiet leo tortor, at consequat arcu fermentum vitae. Quisque commodo metus magna, a consectetur risus interdum nec. Aliquam cursus condimentum est a cursus. Praesent pulvinar, tortor quis lacinia auctor, massa augue ultrices lacus, at varius tortor mi vel ligula. Nunc accumsan quam vel dignissim venenatis. Aenean placerat sed ligula sed vulputate. In hac habitasse platea dictumst. Sed id pellentesque orci. Curabitur sagittis eget tortor nec commodo.</p>

        </div>

        <div class="checkbox">
          <label class="form-control-label"><input type="checkbox" formControlName="agree"> I agree</label>
        </div>
          
        <button type="submit" class="btn btn-primary" [disabled]="!formStep3.valid">Submit Registration</button>
          
      </form>
    </div>
</section>