<app-header></app-header>

<div class="container">
    
    <div class="row">
  
      <div class="col-sm-12 blog-main">
        <div  select="router-outlet"></div>
        <ng-content></ng-content>
      </div><!-- /.blog-main -->

    <!-- /.blog-sidebar -->

  </div><!-- /.row -->

</div>


<app-footer></app-footer>